/* Login */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* centraliza vertical */
  align-items: center;     /* centraliza horizontal */
  height: 100vh;           /* ocupa tela inteira */
  background-color: #1c1c1c;
  color: #f7d774;
}

.login-container h1 {
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column; /* coloca os inputs em coluna */
  gap: 15px;              /* espaço entre os campos */
  width: 300px;
}

.login-form input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #f7d774;
  background: #2a2a2a;
  color: #f7d774;
}

.login-form button {
  padding: 12px;
  border-radius: 6px;
  border: none;
  background: #f7d774;
  color: #222;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.login-form button:hover {
  background: #ffe58a;
}
